* {
  margin: 0;
  padding: 0;
}
#boxs {
  width: 423px;
    height: 93%;
  background: #fff;
  border: #d3d3d3 solid 1px;
  margin: 0 auto;
  position: absolute;
    top: 50px;
  right: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-padding-top: 500px;
}
.Ftop {
  height: 35px;
  background: #e2e2e2;
  border-radius: 3px;
}
.Fmid-1 {
  height: 35px;
  width: 390px;
  margin-left: 15px;
  border: #cccccc solid 1px;
  border-radius: 3px;
  margin-top: 10px;
}
.Fmid-2 {
  height: 35px;
  width: 359px;
  margin: 10px 0 0 46px;
  border: #cccccc solid 1px;
  border-radius: 3px;
}
.Fmid-1-one {
  height: 33px;
  width: 177px;
  background: #eeeeee;
  font-size: 15px;
  line-height: 30px;
  display: block;
  float: left;
  cursor: default;
  padding-left: 10px;
  border-right: #ccc solid 1px;
}
.Fmid-2-one {
  height: 33px;
  width: 155px;
  background: #eeeeee;
  font-size: 15px;
  line-height: 30px;
  display: block;
  float: left;
  cursor: default;
  padding-left: 10px;
  border-right: #ccc solid 1px;
}

.Fmid-1>input {
  height: 33px;
  width: 211px;
  float: right;
  font-size: 15px;
  border-radius: 3px;
  border: 0; 
  padding-left: 10px;
}
.Mselect {
  height: 33px;
  width: 202px;
  font-size: 15px;
  border: 0;
  padding-left: 5px;
}
.Mselect>option{
    font-size: 15px;
}
#dividingLine{
  border-bottom: #bbb solid 1px;
  width: 92%;
  height: 1px;
  margin: 15px 0 0 17px;
}
.Fmid-2-two {
  height: 33px;
  width: 202px;
  font-size: 15px;
  border: 0;
  padding-left: 5px;
}
p{
  height: 23px;
  line-height: 35px;
  width: 85px;
  margin: 0 0 0 15px;
  cursor:default;
  font-size: 15px;
}
.Fmid>button {
  width: 50px;
  height: 45px;
  margin: 36px 30px 0 0;
  float: right;
  border-radius: 10%;
}
#Ferr {
  float: right;
  font-size: 25px;
  color: #000;
  padding: 1px 15px 0 0;
  cursor: pointer;
}
#Fbit {
  border: black solid 1px;
  color: #fff;
  font-size: 17px;
    margin: 0 15px 10px 10px;
  float: right;
  background: #337ab7;
  border: 0;
}
#Fbit:hover {
  background-color: #1c507d;
  border: 0;
}
.Fmid-1-one>.defaltvalue {
  color: red;
  padding-left: 3px;
}
.Fmid-2-one>.defaltvalue {
  color: red;
  padding-left: 3px;
}

#Fbtn {
  position: absolute;
  top: 5%;
  right: 35px;
  margin: 36px 30px 0 0px;
  border: black solid 1px;
  font-size: 17px;
  font-weight: bold;
}
#Fbtn:hover {
  color: white;
}

