* {
  margin: 0;
  padding: 0;
}
#boxs {
  width: 423px;
  height: 725px;
  background: #fff;
  border: #d3d3d3 solid 1px;
  margin: 0 auto;
  position: absolute;
  top: 60px;
  right: 20px;
}
.Ftop {
  height: 35px;
  background: #e2e2e2;
  border-radius: 3px;
}
.Fmid-1 {
  height: 35px;
  width: 390px;
  margin-left: 15px;
  border: #cccccc solid 1px;
  border-radius: 3px;
  margin-top: 10px;
}
.Fmid-1>.Fmid-1-one {
  height: 33px;
  width: 177px;
  background: #eeeeee;
  font-size: 15px;
  line-height: 30px;
  display: block;
  float: left;
  cursor: default;
  padding-left: 10px;
  border-right: #ccc solid 1px;
}
.Fmid-1>input {
  height: 33px;
  width: 211px;
  float: right;
  font-size: 15px;
  border-radius: 3px;
  border: 0; 
  padding-left: 10px;
}
.Mselect {
  height: 33px;
  width: 211px;
  font-size: 15px;
  border: 0;
  padding-left: 5px;
}
.Mselect>option{
    font-size: 15px;
}
.Fmid>button {
  width: 50px;
  height: 45px;
  margin: 36px 30px 0 0;
  float: right;
  border-radius: 10%;
}
#Ferr {
  float: right;
  font-size: 25px;
  color: #000;
  padding: 1px 15px 0 0;
  cursor: pointer;
}
#Fbit {
  border: black solid 1px;
  color: #fff;
  font-size: 17px;
  margin: 10px 25px 0 0;
  float: right;
  background: #337ab7;
  border: 0;
}
#Fbit:hover {
  background-color: #1c507d;
  border: 0;
}
.Fmid-1-one>.defaltvalue {
  color: red;
  padding-left: 3px;
}

#Fbtn {
  position: absolute;
  top: 95px;
  right: 35px;
  margin: 36px 30px 0 0px;
  border: black solid 1px;
  font-size: 17px;
  font-weight: bold;
}
#Fbtn:hover {
  color: white;
}
#table {
  width: 700px;
  height:auto;
  border: #ccc solid 1px;
  background: white;
  position: absolute;
  top: 100px;
  left: 50px;
}
#table{
  background-color: #ccc;
}

#table tr{
  display: none;
  border: black solid 1px;

}
#table td{
  font-size: 15px;
  text-align: center;
}
#table ul{
  background: #337ab7;
}
#table ul>li{
  font-size: 13px;
  list-style: none;
  float: left;

  margin: 10px 0 5px 3px;
}

