* {
    margin: 0;
    padding: 0;
  }
  #box{
    width: 348px;
    height: 81%;
    background: #fff;
    border: #d3d3d3 solid 1px;
    margin: 0 auto;
    position: absolute;
    top: 50px;
    right: 20px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .top{
    height: 35px;
    background: #e2e2e2;
    border-radius: 3px;
  }
  .mid-1{
      height: 35px;
      width: 312px;
      margin-left: 15px;
      border: #CCCCCC solid 1px;
      border-radius: 3px;
      margin-top: 10px;
  }
  .mid-1>.mid-1-one{
      height: 33px;
      width: 110px;
      background: #EEEEEE;
      font-size: 15px;
      line-height: 30px;
      display: block;
      float: left;
      cursor:default;
      padding-left: 10px;
      border-right: #ccc solid 1px;
  }
  .mid-2{
      height: 35px;
      width: 320px;
      margin-left: 52px;
      margin-top: 10px;
  }
  .mid-2>.mid-1-two{
    height: 33px;
    width: 100px;
    font-size: 15px;
    text-align: center;
    background: #EEEEEE;
    line-height: 30px;
    cursor:default;
    border: #CCCCCC solid 1px;
    border-radius: 3px;
    display: block;
    float: left;
  }
  .mid-1>input{
    height: 33px;
    width: 200px;
    float: right;
    border-radius: 3px;
    font-size: 14px;
    border: 0;
    padding-left: 10px;
  }
  .mid-2>input{
    height: 32px;
    width: 65px;
    margin-left: 10px;
    border: #CCCCCC solid 1px;
    border-radius: 3px;
    text-align: center;
    font-size: 13px;
  }
  .mo{
    position: absolute;
    float: right; 
  } 
  .mid>button{
    width: 50px;
    height: 45px;
    margin: 36px 30px 0 0;
    float: right;
    border-radius: 10%;
  }
  p{
    height: 30px;
    line-height: 35px;
    width: 85px;
    margin: 10px 0 0 15px;
    cursor:default;
    font-size: 15px;
  }
  #err{
    float: right;
    font-size: 25px;
    color: #000;
    padding: 1px 15px 0 0;
    cursor:pointer;
  }
  #line{
    height: 18px;
    width: 12px;
    background: #fff;
    position: relative;
    top: 5px;
    right: 0;
    border: 0;
  }
  #dividingLine{
    border-bottom: #bbb solid 1px;
    width: 90%;
    height: 1px;
  }
  #bit{
    border: black solid 1px;
    color: #fff;
    font-size: 17px;
    margin: 0 15px 10px 10px;
    float: right;
    background: #337AB7;
    border: 0;
  }
  #bit:hover{
    background-color: #1c507d;
    border: 0;
  }
  #btn{
    position: absolute;
    top: 5%;
    right: 35px;
    margin: 36px 30px 0 0px;
    border: black solid 1px;
    font-size: 17px;
    font-weight: bold;
  }
  #btn:hover{
    color:white;
  }